    
/* change standard modal behavior */
.modal-body {
  height: 600px;
  overflow: auto;
}


.modal-backdrop {
background-color: #424530;
}

.modal-backdrop.fade.in
{
opacity: .8; 
}


xmp
{
     direction: ltr;
     text-align: left;
	 border: solid 1px blue;
     font-size: 1.3 em; 
     color: blue; 
     margin: 10px; 
     padding:10px; 
     background: #FFFFB3;
     color: #008099
 }

th, td { resize: both; overflow: auto; }

.resizeborder{
	border:1px solid;
}